.content{
  cursor: pointer;

  .title{
    color: var(--Heading);
    font-size: 1.75rem;
    font-weight: bold;
    
  }
  
  & + .content {
   margin-top: 3rem;
  }

  &:last-child{
    margin-bottom: 3rem;
  }
    
  
}

.buttonLoading{
  background-color: transparent;
  border: 0;
  color: var(--Highlight);
  margin-top: 4rem;
  font-size: 1.125rem;
  font-weight: 600;

}

.modoPreview{
  width: 100%;
  margin-top: 5.5rem;
  height: 3.625rem;
  border-radius: 4px;
  background-color: var(--Heading);
  border: 0;
  color: var(--Background);
  font-weight: 500;
}
